<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous" />
	
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
	
<link rel="stylesheet" th:href="@{/css/greeter.css}" />
<title>PAS Greeter</title>

</head>

<body>
	<div class="container-fluid top px-0">
		<div class="row">
			<div class="col-4">
				<a id="userSelect" class="btn btn-info rounded-0 px-2" href="#"
					role="button">👤 John</a>
			</div>
			<div class="col-8">
				<!-- <img src="PAS.jpg" style="height: 1.5em; float: right; padding-right: 2em;;" class="img-fluid"
          alt="Platinum Auto Spa Logo" /> -->
				<p
					style="color: white; font-size: 1.25em; font-weight: bolder; text-align: right;">PAS
					LOGO</p>
			</div>
		</div>
	</div>
	<div class="container-fluid header">
		<form action="#" th:action="@{/greeter/addCar}" th:object="${vehicle}"
			method="POST">
			<div class="row">


				<div class="col px-0">
					<input type="text" th:field="*{plate}"
						class="form-control rounded-0" id="plateLookupInput" value="GA"
						oninput="this.value = this.value.toUpperCase()" />
				</div>
				<div class="col" style="padding-left: 0px">
					<button type="submit" class="btn btn-success rounded-0"
						id="plateLookupSubmit">Add Car</button>
				</div>

			</div>
		</form>
	</div>
	<div class="container-fluid" id="clientName">

		<p class="text-center mb-0 header"
			th:text="${vehicle.customerId} == 0 ? 'UNKNOWN' : 'CUSTOMER'+${vehicle.customerId}" />
	</div>
	<div class="container-fluid" id="clientHistory">
		<table class="table mb-0" th:object="${product}">
			<tbody>
				<tr class="previousOrder">
					<td class="text-left"
						th:text="${product.id}==0 ? 'NOT SUBSCRIBER' : 'SUBSCRIBER'" />
						
						<!-- th:text="${product.id}==0 ? 'NOT SUBSCRIBER' : 'SUBSCRIBER'" /> -->
					<td style="float: right"
						th:text="${product.id}==0 ? 'NONE' : ${product.name}" />
				</tr>
				<tr class="previousOrder">
					<td>LAST VISIT</td>
					<td style="float: right">03/21/22</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="container-fluid">
		<div class="row menuHeader">
			<div class="col text-center"
				style="border-right: 2px solid lightgray;" type="button"
				data-toggle="modal" data-target="#washModal">WASHES</div>
			<div class="col text-center"
				style="border-right: 2px solid lightgray;" type="button"
				data-toggle="modal" data-target="#extrasModal">EXTRAS</div>
		</div>
	</div>

<form action="#" th:action="@{/greeter/createOrder}"
	th:object="${order}" method="POST">
	
	<th:block >
	<div class="modal" tabindex="-1" role="dialog" id="washModal">
		<!-- <div class="modal-dialog modal-fullscreen" role="document"  style="width: 720px;"> -->
		<div class="modal-dialog modal-fullscreen" role="document">
			<div class="modal-content">
				<div class="d-flex justify-content-center modalHeader">
					<div>WASHES</div>
				</div>
				<div class="modal-body">

					<div class="row" th:each="productChoice : ${products}">
						<div class="col px-0">
							<input type="radio" class="btn-check sizeSelectCheck"
								name="btnradio" th:id="'productChoice' + ${productChoice.id}"
								autocomplete="off" /> <label
								class="btn sizeSelect rounded-0 shadow-none px-0"
								th:for="'productChoice' + ${productChoice.id}">
								<div class="d-flex justify-content-between">
									<div class="px-3" th:text="${productChoice.name}"></div>
									<div class="px-3" th:text="${productChoice.price}"></div>

								</div>
							</label>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<div class="container-fluid px-0">
						<div class="row">
							<div class="col-6 px-0">
								<a id="clearForm" class="btn btn-danger rounded-0 " href="#"
									role="button" data-dismiss="modal">Cancel</a>
							</div>
							<div class="col-6 px-0">
								<a id="clearForm" class="btn btn-success rounded-0 clearCreateOrder" href="#"
									role="button" data-dismiss="modal">Add Wash</a>
							</div>
						</div>
					</div>

					<!-- <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
				</div>
			</div>
		</div>
	</div>

	<div class="modal" tabindex="-1" role="dialog" id="extrasModal">
		<!-- <div class="modal-dialog modal-fullscreen" role="document"  style="width: 720px;"> -->
		<div class="modal-dialog modal-fullscreen" role="document">
			<div class="modal-content">
				<div class="d-flex justify-content-center modalHeader">
					<div>EXTRA</div>
				</div>
				<div class="modal-body">
					<div class="row" th:each="extraChoice : ${extras}">
						<div class="col px-0">
							<input type="radio" class="btn-check sizeSelectCheck"
								name="btnradio" th:id="'extraChoice' + ${extraChoice.id}"
								autocomplete="off" /> <label
								class="btn sizeSelect rounded-0 shadow-none px-0"
								th:for="'extraChoice' + ${extraChoice.id}">
								<div class="d-flex justify-content-between">
									<div class="px-3" th:text="${extraChoice.name}"></div>
									<div class="px-3" th:text="${extraChoice.price}"></div>

								</div>
							</label>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<div class="container-fluid px-0">
						<div class="row">
							<div class="col-6 px-0">
								<a id="clearForm" class="btn btn-danger rounded-0 clearCreateOrder" href="#"
									role="button" data-dismiss="modal">Cancel</a>
							</div>
							<div class="col-6 px-0">
								<a id="clearForm" class="btn btn-success rounded-0 clearCreateOrder" href="#"
									role="button" data-dismiss="modal">Add Extras</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>
	</div>
	</div>
	<!-- <form action="#" th:action="@{/greeter/createOrder}"
	th:object="${order}" method="POST">
	 -->
	<div class="container-fluid" id="currentOrder">
		
	<!-- Add hidden form field to handle update--> 
	<input type="hidden" th:field="*{id}" />
	<input type="hidden" th:name="plate" th:value="${order.plate != null} ? ${order.plate} : ${vehicle.plate}" />
	
			<table class="table mb-0">
				<tbody>
					<tr class="currentItems">
						<td class="text-left" style="border: none;" th:text="${product.name}" />
						<td style="float: right; border: none;" th:text="${product.price}" />
					</tr>
					<!-- 
				<tr class="currentItems">
					<td>Truck</td>
					<td style="float: right">$15.00</td>
				</tr>
				<tr class="currentItems">
					<td>FloorMats</td>
					<td style="float: right">$6.00</td>
				</tr>
				 -->
				</tbody>
			</table>
		
	</div>
	<div class="container-fluid myFooter">
		<div class="row">
			<input type="text" placeholder="Add Comments"
				style="height: 2em; font-size: 1.5em;">
		</div>
		<div class="row total">
			<div class="d-flex justify-content-center">
				<div style="padding-right: 20px">Total</div>
				<div style="padding-left: 20px">$21.00</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6 px-0">
				<a id="clearForm" class="btn btn-danger rounded-0 clearCreateOrder"
					th:href="@{/greeter/clear}" role="button">Clear Form</a>
			</div>
			<div class="col-6 px-0">
			<button type="submit" class="btn btn-success rounded-0 clearCreateOrder"
						id="createOrder">Create Order</button>
				<!-- <a id="clearForm" class="btn btn-success rounded-0" href="#"
					role="button">Create Order</a> -->
			</div>
		</div>
	</div>
	</form>

	<script>
		$("#myModal").on("shown.bs.modal", function() {
			$("#myInput").trigger("focus");
		});
	</script>


	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>