<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    
</head>
<body>
    <textarea class="one" placeholder="Add Comments"></textarea>
    <input class="two" type="text" value="1"/>
    <input type="hidden" class="orderInput" value="1"/>
                                
<script>
$(document).ready(function(){
  $(".one").val($(".two").val())
});

$(".one").focusout(function(){
    $(".two").val($(".one").val())
    alert((".two").val()) 
})
</script>    
</body>
</html>