<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/greeter.css}" />
  <title>PAS Greeter</title>
  
</head>

<body>
  <div class="container-fluid top px-0">
    <div class="row">
      <div class="col-4">
        <a id="userSelect" class="btn btn-info rounded-0 px-2" href="#" role="button" th:text="'👤 '+${greeterName}">John</a>
      </div>
      <div class="col-8">
        <!-- <img src="PAS.jpg" style="height: 1.5em; float: right; padding-right: 2em;;" class="img-fluid"
          alt="Platinum Auto Spa Logo" /> -->
          <p style="color:white; font-size: 1.25em; font-weight: bolder; text-align: right;">PAS LOGO</p>
      </div>
    </div>
  </div>
  <div class="container-fluid header">
    <form>
      <div class="row">
      <form action="#" th:action="@{/greeter/save}"
	th:object="${vehicle}" method="POST">
	<!-- <input type="text" field="*{plate}"
	class="form-control mb-4 col-4" placeholder="Plate Number"> -->
        <div class="col px-0">
          <input type="text" th:field="*{plate}" class="form-control rounded-0" id="plateLookupInput" value="GA" />
        </div>
        <div class="col" style="padding-left: 0px">
          <button type="submit" class="btn btn-success rounded-0" id="plateLookupSubmit">
            Add Car
          </button>
        </div>
        </form>
      </div>
    </form>
  </div>
  <div class="container-fluid" id="clientName">
    <p class="text-center mb-0 header">Jonathan Jingleheimer</p>
  </div>
  <div class="container-fluid" id="clientHistory">
    <table class="table mb-0">
      <tbody>
        <tr class="previousOrder">
          <td class="text-left">SUBSCRIBER</td>
          <td style="float: right">ULTIMATE WASH</td>
        </tr>
        <tr class="previousOrder">
          <td>LAST VISIT</td>
          <td style="float: right">03/21/22</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container-fluid">
    <div class="row menuHeader">
      <div class="col text-center" style="border-right:2px solid lightgray;" type="button" data-toggle="modal"
        data-target="#washModal">
        WASHES
      </div>
      <div class="col text-center" style="border-right:2px solid lightgray;" type="button" data-toggle="modal"
      data-target="#extrasModal">EXTRAS</div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="washModal">
    <!-- <div class="modal-dialog modal-fullscreen" role="document"  style="width: 720px;"> -->
      <div class="modal-dialog modal-fullscreen" role="document"  >
      <div class="modal-content">
        <div class="d-flex justify-content-center modalHeader">
          <div>WASHES</div>
          </div>
        <div class="modal-body">
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash1"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash1">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 1</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash2"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash2">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 2</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash3"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash3">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 3</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash4"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash4">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 4</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash5"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash5">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 5</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash6"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash6">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 6</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash7"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash7">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 7</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash8"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash8">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 8</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash9"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash9">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 9</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash10"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash10">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 10</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash11"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash11">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 11</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash12"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash12">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 12</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash13"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash13">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 13</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash14"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash14">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 14</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="radio" class="btn-check sizeSelectCheck" name="btnradio" id="wash15"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="wash15">
                <div class="d-flex justify-content-between">
                  <div class="px-3">WASH 15</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container-fluid px-0">
            <div class="row">
              <div class="col-6 px-0">
                <a id="clearForm" class="btn btn-danger rounded-0" href="#" role="button" data-dismiss="modal">Cancel</a>
              </div>
              <div class="col-6 px-0">
                <a id="clearForm" class="btn btn-success rounded-0" href="#" role="button" data-dismiss="modal">Add Wash</a>
              </div>
            </div>
          </div>
          
          <!-- <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="extrasModal">
    <!-- <div class="modal-dialog modal-fullscreen" role="document"  style="width: 720px;"> -->
      <div class="modal-dialog modal-fullscreen" role="document"  >
      <div class="modal-content">
        <div class="d-flex justify-content-center modalHeader">
          <div>EXTRA</div>
          </div>
        <div class="modal-body">
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra1"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra1">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 1</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra2"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra2">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 2</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra3"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra3">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 3</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra4"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra4">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 4</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra5"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra5">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 5</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra6"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra6">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 6</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra7"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra7">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 7</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra8"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra8">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 8</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra9"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra9">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 9</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra10"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra10">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 10</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra11"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra11">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 11</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra12"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra12">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 12</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra13"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra13">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 13</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra14"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra14">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 14</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col px-0">
              <input type="checkbox" class="btn-check sizeSelectCheck" name="btnradio" id="extra15"
                autocomplete="off" />
              <label class="btn sizeSelect rounded-0 shadow-none px-0" for="extra15">
                <div class="d-flex justify-content-between">
                  <div class="px-3">EXTRA 15</div>
                  <div class="px-3">PRICE</div>

                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="container-fluid px-0">
            <div class="row">
              <div class="col-6 px-0">
                <a id="clearForm" class="btn btn-danger rounded-0" href="#" role="button" data-dismiss="modal">Cancel</a>
              </div>
              <div class="col-6 px-0">
                <a id="clearForm" class="btn btn-success rounded-0" href="#" role="button" data-dismiss="modal">Add Extras</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  </div>
  </div>
  <div class="container-fluid" id="currentOrder">
    <table class="table mb-0">
      <tbody>
        <tr class="currentItems">
          <td class="text-left">ULTIMATE WASH</td>
          <td style="float: right">SUBSCRIBER</td>
        </tr>
        <tr class="currentItems">
          <td>Truck</td>
          <td style="float: right">$15.00</td>
        </tr>
        <tr class="currentItems">
          <td>FloorMats</td>
          <td style="float: right">$6.00</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="container-fluid myFooter">
    <div class="row">
      <input type="text" placeholder="Add Comments" style="height:2em; font-size: 1.5em;">
    </div>
    <div class="row total">
      <div class="d-flex justify-content-center">
        <div style="padding-right: 20px">Total</div>
        <div style="padding-left: 20px">$21.00</div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 px-0">
        <a id="clearForm" class="btn btn-danger rounded-0" href="#" role="button">Clear Form</a>
      </div>
      <div class="col-6 px-0">
        <a id="clearForm" class="btn btn-success rounded-0" href="#" role="button">Create Order</a>
      </div>
    </div>
  </div>

  <script>
    $("#myModal").on("shown.bs.modal", function () {
      $("#myInput").trigger("focus");
    });
  </script>
  <!-- <script>
    $(document).on("click", "input[type='radio']", function (e) {
      var checked = $(this).attr("checked");
      if (!checked) {
        $(this).attr("checked", true);
      } else {
        $(this).removeAttr("checked");
        $(this).prop("checked", false);
      }
    });
  </script> -->

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>